*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.catergoria{

    padding: auto;
    text-align: center;
    padding-bottom: 20px;
    background-color: rgb(62, 110, 182);
    padding-top: 10px;

}

.imagenesEventos{

    background-color: blanchedalmond;
    width: 80%;
    height: 500px;
    margin: auto;
    text-align: center;

}

.imagen{

    width: 100%;
    height: 100%;
    border-radius: 10px;

}

.productos{

    text-align: center;
    width: 80%;
    margin: auto;

}



.tipografia_categoria{

    color: cornsilk;
    margin-top: 10px;
    margin-bottom: 10px;

}

.pie_de_pagina{

    text-align: center;

}

.pie_de_pagina_iconos{

    margin-top: 10px;
    color: blanchedalmond;
    margin-left: 10px;

}